@charset 'UTF-8';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

h1 {
	font-family: "futura-pt", 'helvetica-neue', helvetica, arial, sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.4;
  letter-spacing: 8px;
	margin: 0 auto;
	color: #3A3730;
	text-transform: uppercase;
}

 h1 span {
   font-size: 42px;
   font-family: 'baskerville', 'georgia' serif;
   font-style: italic;
   font-weight: 500;
 }

 h1.light {
	 color: #ffffff;
 }

 h2 {
 	font-family: "futura-pt", 'helvetica-neue', helvetica, arial, sans-serif;
 	font-weight: 500;
 	font-size: 14px;
 	line-height: 4;
  letter-spacing: 8px;
 	margin: 0 auto;
 	color: #3A3730;
	text-transform: uppercase;
}

.light {
	color: #ffffff;
}

p {
	font-family: 'baskerville', 'georgia' serif;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 2;
  letter-spacing: 2px;
	margin: 0 auto;
	color: #3A3730;
}

p.san-serif {
	font-family: "futura-pt", 'helvetica-neue', helvetica, arial, sans-serif;
 	font-weight: 400 !important;
 	font-size: 10px;
	font-style: normal;
}

a {
	-webkit-transition: all 0.2s ease-out;
	color: #367363;
	text-decoration: none;
}

a:hover {
	color: #5B975C;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
}

.row {
	width: 100%;
	min-height: 400px;
	text-align: center;
}

.a {
	background-color: #f8f8f8;
}

.b {
	background-color: #EBBFA8;
}

.c {
	background-color: #f8f8f8;
}

.d {
	background-color: #EBBFA8;
}

.card {
	max-width: 480px;
	margin: 0 auto;
	padding: 10%;
}

.header-image {
  max-width: 600px;
  height: 250px;
  background-image: url(../img/header-image.png);
}

.footer-image {
  max-width: 600px;
  height: 250px;
  background-image: url(../img/footer-image.png);
}

.navigate-down {
	width: 24px;
	height: 24px;
}


/* Form */

.form {
  max-width: 480px;
	margin: 0 auto;
}

.name, .email, .mobile, .country, .address, .food {
  width: 260px;
  height: 30px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px #EBBFA8 solid;
	-webkit-appearance:none;
	color: #3A3730;
}

.name::-webkit-input-placeholder {
	color: #3A3730;
	opacity: 0.2;
}

.name:focus, .food:focus, .food-req:focus {
	border: 2px #E79B89 solid;
	outline: none;
}

.button {
  width: 280px;
  height: 34px;
	border: none;
  border: 1px #ffffff solid;
	background-color: #EBBFA8;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
	-webkit-appearance:none;
}

select.food {
	background-color: #ffffff;
	width: 284px;
	height: 36px;
	text-align: center;
	color: #3A3730;
}

select option {
	text-align: center !important;
}
